body {
  background-color: $darkgrey;
}

.rightWrapper  {  
  margin-left: 50%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}

.leftWrapper {
  margin-left: 11%;
}

h1, h2 {
  color: $white;
  font-family: $secondaryFont;
  margin-bottom: 20px;
}

h3, h4 {
  color: $lightgrey;
  margin-bottom: 20px;
}


p, a, label{
  color: $grey;
  font-family: $primaryFont;
  font-size: 1.1rem;
}

p {
  line-height: 1.5;
}

span {
  color: $red;
}

.middleSplit {
  display: flex;
}

ul {
  margin-bottom: 30px;
  padding-left: 20px;
}


section{
  margin-bottom: 50px;
  padding:35px 40px 40px;
  border-radius: 10px;
  box-shadow: $shadow1;
}


