
h1 {
  font-size: 70px;
}


header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 35%;
  margin-top: 175px;
}

header img {
  border-radius: 50%;
  background-position: 0px;
  height: 180px;
  width: 180px;
  image-orientation: initial;
}

.headerBtn, .formSection a {
  display: inline-block;
  padding: 15px 35px;
  margin: 15px;
  text-decoration: none;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: $shadow1;
  transition: $transition;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
  
  
}

.headerBtn:hover, .formSection a:hover {
  transform: translateY(-5px);
  background: $hoverbackground;
}
