
h1 {
  font-size: 4.3rem;
}


header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 35%;
  margin-top: 20px;

}

header img {
  border-radius: 50%;
  background-position: 0px;
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: 0 -20px;

  
}

.headerBtn, .formSection input[type="submit"]{
  display: inline-block;
  padding: 15px 35px;
  margin: 15px;
  text-decoration: none;
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: $shadow1;
  transition: $transition;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
  
  
}

.headerBtn:hover, .formSection a:hover {
  
  background: $hoverBackground;
  transform: scale(1.2);
}

.headerBtn:hover, .formSection input[type="submit"]:hover {
  border: 2px solid $red;
  transition: 0.4s;
}

.shortAboutMe a {
  text-decoration: none;
}

.shortAboutMe a span {
  color: $lightgrey;
  font-weight: 700;
  border-bottom: 1px solid $lightgrey;
}

.shortAboutMe a span:hover {
  color: $red;
  transition: 0.8s;
}


