

h2 {
  font-size: 30px;
  position: relative;
}

main h2::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #121415;
  bottom: -10px;
  left: 0;
}

.skills ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skills li {
  list-style: none;
  margin-right: 17px;
  margin-bottom: 17px;
  width: 81px;
  height: 81px;
  line-height: 81px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: $background1;
  box-shadow: $shadow1;
  transition: 0.4s;
}

.skills li:hover {
  transform: translateY(-5px);
  background: $hoverbackground;
  
}

.skills li img {
  max-height: 30px;
}

.apiIcon, .sassIcon {
  background-color: white;
}


